*,*:before,*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Variables */
--color: color:#FFC61F;


/* Contenedor general */
#boxFluid{
  overflow: hidden;
  
}
/* Contenedor general */
/* Card texel */
#cardBox{
  max-width: 1024px;
  background-color: #eee;
  margin:0 auto;
  height: 95vh; 
  margin-top: 2vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
  text-align: center;
  overflow: hidden;
}
/* Card texel */


/* Index Texel */
/*  */
.imgLogo{
  max-width: 350px; 
  margin: 0 auto;
  margin-top: 25px;
}

.card-title{
  font-size: 6.5em;
}

.card-text{
  font-size: 2em;
}
.btn-texel{
  border-radius:150px;
  box-shadow:0 10px 20px rgba(0,0,0,0.19);
  width: 80%; 
  font-size: 1.7em;
  background-color: #FFC61F; 
  border-color:#FFC61F; 
  letter-spacing: 3px;
  margin-top: 50px;
  transition: all .2s;
}
.btn-texel:hover{
  border: 1px solid rgba(0,0,0,0.43);
  background-color: #FFC61F; 
}

.btn-texel:focus{
  border: 1px solid rgba(0,0,0,0.43)!important;
  background-color: orange!important;
  
}
.btn-texel:{
  background-color: red;
}
.col-logo,
.col-text-index,
.col-btn-index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
}
.col-logo{
  height: 20vh;
  z-index: 200;
}
.col-text-index{
  height: 53vh;
}
.col-btn-index{
  height: 22vh;
  padding-bottom: 20px;
  z-index: 300;
  margin: auto auto;
}



/* FIN Index Texel */



/* SecondPage */
.col-btn{
  display: flex;
  align-items: center;
  width: 100%;
  height: 53vh;
}
.btn-left-sp{
  justify-content: flex-end;
}
.btn-right-sp{
  justify-content: flex-start;
}
.col-back{
  
}
.col-footer-second-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  padding: 0;
}
.btn-back{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #FFC61F;
  margin-left: 25px;
  padding: 0;
  line-height: 50px;
  color: #eee;
  border-radius: 50px;
  font-size: 1.2em;

  text-align: center;
}
.btn-back:hover{
  border: 1px solid rgba(0,0,0,0.43);
  background-color: #FFC61F;
  color: #eee;
}

/*FIN SecondPage */

/* Busqueda por DNI */
.col-btn-dni{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53vh;
  /* background-color: red; */
}
.input-Search{
  max-width: 100%;
  height: 55px;
  border:none;
  border-radius:50px;
  font-size: 2em;
  padding-left: 25px;
  margin-right: 10px;
  
  box-shadow:0 10px 20px rgba(0,0,0,0.19);
}
.input-Search:focus{
  outline: none;
  border:1px solid rgba(0,0,0,0.43);
}
.input-Search:hover{
  
  border: 1px solid rgba(0,0,0,0.43);
}
.btn-dni{
  width: 20%;
  margin: 0;
}
/*FIN Busqueda por DNI */

/* Nuevo Paciente */
.col-btn-form{
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-New-P{
  max-width: 100%;
}
.label-form{
  width: 80%;
  text-align: left;
}
.label-form span{
  color: #FFC61F;
  font-weight: 700;
  font-size: .9em;
  text-shadow: 0px 1px rgba(0,0,0,0.43);
}
  .input-form{
    border:none;
    background-color: #eee;
    border-bottom:1.5px solid #FFC61F;
    width: 100%;
    font-size: .9em;
  }
  .input-form:focus{
    outline: none;
  }
  .col-inputs-form{
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .col-inputs-form .label-form{
    width: 54%;
  }
  .btn-ingresarpaciente{
    width: 50%;
    margin: 0;
  }

  .col-btn-newp{
    height: 20vh;  
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*FIN Nuevo Paciente */

/* pagina FUNCIONES */
.rowUno{
  height: 70vh;
}
.firts-colFunc-col8{
  width: 100%;
  height:220px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
.boxDobleBtn{
  display:flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height:130px;
  overflow: hidden;
}
.btn-doble{
  display: block;
  width: 50px;
  background-color: #FFC61F;
  border:1px solid rgba(0,0,0,0.19);
  padding: 0;
  height: 50px;
  border-radius:50px;
  line-height: 50px;
  color: #eee;
  box-shadow:0 2px 5px rgba(0,0,0,0.19);
}
.btn-simple{
  border-radius:10px;
  color:white;
  font-size:1.7em;
  display:block;
  background-color: #FFC61F;
  width: 100%;
  height:70px;
  padding: 0;
  line-height:70px;
  margin-bottom:10px;
  border:1px solid rgba(0,0,0,0.19);
}
/* col8 inputs */

.col-centralInputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputsBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn-medio{
  color:white;
  background-color:#FFC61F;
  margin-top:25px;
}
.text-inputFunc{
  margin:0;
  padding:0;
  padding-top:25px;
  font-size:1.7em;
  color:#FFC61F;
  text-shadow: 1px 1px rgba(0,0,0,0.19);
}

.inputCentral{
  margin:0;
  padding:0;
  font-size:5em; 
  color:#FFC61F; 
  text-shadow: 2px 2px rgba(0,0,0,0.19);
}
.inputCentral small{
  font-size:0.7em;
}

.btn-inicio{
  margin-bottom: 40px;
  box-shadow:0 10px 20px rgba(0,0,0,0.19); width: 30%; font-size: 1.4em; 
  background-color: #FFC61F; 
  border-color:#FFC61F; 
  letter-spacing: 3px;
  box-shadow:0 2px 5px rgba(0,0,0,0.19);
  /* border:1px solid rgba(0,0,0,0.43); */
}
.btn-pause{
  margin-bottom: 40px;
  box-shadow:0 10px 20px rgba(0,0,0,0.19); font-size: 1.4em; background-color: #FFC61F; 
  border-color:#FFC61F;
  box-shadow:0 2px 5px rgba(0,0,0,0.19);
  /* border:1px solid rgba(0,0,0,0.43); */
}
/*FIN col8 inputs */
/* hover btn */
.btn-hov:hover{
  background-color: orange!important;
  border-color: rgba(0,0,0,0.19)!important;
  color:#eee!important;
}
/* hover btn */
/* col-info */
.col-info{
  margin-top: 45px;
}
.info{
  padding: 15px;
  border:1px solid rgba(0,0,0,0.23);
  background-color:orange; 
  border-radius:5px; color: white;
  text-shadow:1px 1px rgba(0,0,0,0.23);
}
/* Fin col-info */
/* FIN pagina FUNCIONES */
.cardBox{
  border: 1px solid black;
  height: 90vh;
}

.img-corp{
  text-align: center;
  padding-top: 25px;
}

a{
  display: block;
  padding:50px 0;
}

.nav{
  width: 100%;
    height: 94.7vh;
    box-shadow:0 0 4px black;
    background-color: orange;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .headerNav{
    width: 100%;
    text-align: left;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .headerNav img{
    width: 50%;
  }
  .links{
    width: 100%;
    text-align: left;
  
  }
  .linkConf{
    display:block;
    font-size: 1em;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.23);
    padding:15px 0;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,0.23);
    text-decoration: none;
    padding-left:15px;
  }
  .linkConf:hover{
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .col8Texel{
    width: 100%;
    margin: 0;  padding: 0;
    top: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .boxImagenUsuario{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-bottom:1.5px solid rgba(0,0,0,0.43);
  }

/* Config page  */
.col-inputText{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxInputsOpciones1,
.boxInputsOpciones2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}
.labelConf{
  width: 100%;
  margin-left: 5px;
}
.labelConf span{
  font-size: 1em;
}
.labelConf input{
  border: 1px solid orange;
  font-size: 1.2em;
  width: 200px;
  border-radius:5px;
  background-color: #eee;
  outline:none;
  padding-left: 5px;
}
.rowChecks{
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rowChecks label{
  margin: 0 25px;
}

/* Config page  */
  /* footer */
.card-footer{
  background:orange;
  border-top:2px solid rgba(0,0,0,0.11);
  width: 100%;
  height: 10vh;
  padding: 0;
  overflow: hidden;
}
.footer-row{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  height: 10vh;
  
  background:orange;

}
.btn-footer{
  height: 9vh;
  padding: 0;
  line-height: 9vh;
  transition: .1s;
  cursor: pointer;
}
.btn-footer:nth-child(1){
  border-right:2px solid rgba(0,0,0,0.11);
}
.btn-footer:nth-child(2){
  border-right:2px solid rgba(0,0,0,0.11);
}
.btn-footer:nth-child(3){
}
.btn-footer:hover{
  background-color: #FFC61F;
  border:1.5px solid #FFC61F;
}
.btn-footer:hover .link-footer{
  color: #eee;
}
.link-footer{
  color:#eee; 
  text-shadow:1px 1px rgba(0,0,0,0.19); 
  font-size:1.2em; display:block; 
  width: 100%; 
  height: 100%; 
  padding: 0;
}
/* footer */